<!DOCTYPE html>
<html lang="en">
<head>
<style>
 h1 {
   color: white;
   text-align: center;
   background: #343840;
   border-radius: 10px;
 }
 body  {
  background-image: url("https://i.pinimg.com/originals/e6/66/83/e66683612ce467134ed4a3be9d0ce28e.png");
  background-color: #cccccc;
}

</style>
<title>Requests</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Requests Manager</h1>
  <center>
    <a href="index.html"><button type="button" class="btn btn-danger">Home</button></a>
    <a href="requests.html"><button type="button" class="btn btn-dark">Requests</button></a>
    <a href="backups.html"><button type="button" class="btn btn-dark">Back-Ups</button></a>
  </center>
  
  
</div> 

<br>
<br>
<center>
  <h1>Requests</h1>
  <br>
  </div>


</center>

    <br>
    <br>
    <center>
    
    <div class="card-columns">
    {%for this in package%}
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            
            <div class="card-body">
                <h5 class="card-title">{{ this }}</h5>
                <form action="/requests.html/confirm", method="post">
                  <p class="card-text"><button name='pass' type="submit" value="{{ this }}">Accept</button></p>
                </form>
                <form action="/requests.html/delete", method="post">
                  <p class="card-text"><button name='del' type="submit" value="{{ this }}">Deny</button></p>
                </form> 
            </div>
        </div>
    {%endfor%}
    </div>
<br>
<br>
<center>
  <h1>Past Requests</h1>
  <br>
  </div>


</center>

<br>
<br>
    <center>
    <div class = "container">
      <table  class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">This chart goes by ID, package, userInfo, status, timestamp</th>
          </tr>
        </thead>
        <tbody style = "color-white">
            {%for i in range(0, length)%}
            <tr>

              <td>{{ past[i] }}</td>
            </tr>
            {%endfor%}
        </tbody>
      </table>
    </div>

</body>
</html>
