<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h1 {
        color: white;
        text-align: center;
        background: #343840;
        border-radius: 10px;
      }
      h4 {
        color: #df4759;
      }
      body {
        background-image: url("https://i.pinimg.com/originals/80/9b/43/809b43102a7b4bcb18ad66cf48886579.jpg");
        background-color: #cccccc;
      }
    </style>

    <title>Star Wars</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Star Wars</h1>
      <a href="login-signup.html"
        ><button type="button" class="btn btn-dark float-right">
          Login
        </button></a
      >
      <center>
        <a href="index.html"
          ><button type="button" class="btn btn-dark">Home</button></a
        >
        <a href="movies.html"
          ><button type="button" class="btn btn-dark">Movies</button></a
        >
        <a href="forum.html"
          ><button type="button" class="btn btn-dark">Forum</button></a
        >
        <a href="quizzes.html"
          ><button type="button" class="btn btn-dark">Quizzes</button></a
        >
        <a href="news.html"
          ><button type="button" class="btn btn-danger">News Feed</button></a
        >
        <a href="about.html"
          ><button type="button" class="btn btn-dark">About</button></a
        >
      </center>
    </div>
    <br />
    <br />
    <div  class = "container">
    <div class="row">
      <div class="col-8">
        <h2>Tweets on Star Wars, Latest.</h2>
        <div class="media my-3">
          <img
            class="align-self-start mr-3 rounded-circle"
            src="https://source.unsplash.com/50x50/?avatar,white"
            alt="Generic placeholder image"
          />
          <div class="media-body bg-dark text-white rounded">
            <h5 class="mt-0">Top-aligned media</h5>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>

        <div class="media my-3 ">
          <img
            class="align-self-start mr-3 rounded-circle"
            src="https://source.unsplash.com/50x50/?avatar,white"
            alt="Generic placeholder image"
          />
          <div class="media-body bg-dark text-white rounded">
            <h5 class="mt-0">Top-aligned media</h5>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>

        <div class="media my-3">
          <img
            class="align-self-start mr-3 rounded-circle"
            src="https://source.unsplash.com/50x50/?avatar,white"
            alt="Generic placeholder image"
          />
          <div class="media-body bg-dark text-white rounded">
            <h5 class="mt-0">Top-aligned media</h5>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
      <h4> Get your Star Wars gear! </h4>
        <div class="card my-3 text-white bg-dark" style="width: 18rem">
          <img class="card-img-top" src="https://source.unsplash.com/800x500/?starwars,apparel" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Product title</h5>
            <p class="card-text">Product discription.</p>
            <a href="#" class="btn btn-danger">Buy</a>
          </div>
        </div>
        <div class="card my-3 text-white bg-dark" style="width: 18rem">
          <img class="card-img-top" src="https://source.unsplash.com/800x500/?apparel,starwars" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Product title</h5>
            <p class="card-text">Product discription.</p>
            <a href="#" class="btn btn-danger">Buy</a>
          </div>
        </div>
      </div>
    </div>
    <div>
  </body>
</html>
