<!DOCTYPE html>
<html lang="en">
<head>
<style>
 h1 {
   color: white;
   text-align: center;
   background: #343840;
   border-radius: 10px;
 }
 body  {
  background-image: url("https://i.pinimg.com/originals/e6/66/83/e66683612ce467134ed4a3be9d0ce28e.png");
  background-color: #cccccc;
}

</style>

  <title>Star Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Star Wars</h1> 
  <a href="login-signup.html"><button type="button" class="btn btn-dark float-right">Login</button></a>
  <center>
    <a href="index.html"><button type="button" class="btn btn-danger">Home</button></a>
    <a href="movies.html"><button type="button" class="btn btn-dark">Movies</button></a>
    <a href="Characters.html"><button type="button" class="btn btn-dark">Characters</button></a>
    <a href="forum.html"><button type="button" class="btn btn-dark">Forum</button></a>
    <a href="quizzes.html"><button type="button" class="btn btn-dark">Quizzes</button></a>
    <a href="news.html"><button type="button" class="btn btn-dark">News Feed</button></a>
    <a href="about.html"><button type="button" class="btn btn-dark">About</button></a>
  </center>


</div>

<br>
<br>
<center>
<div class="jumbotron text-white bg-dark mb-3 w-75">
  <h1 class="display-4">Hi There!</h1>
  <br>
  </div>


</center>


</body>
</html>