<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            color: white;
            text-align: center;
            background: #343840;
            border-radius: 10px;
        }

        body {
            background-image: url("https://i.pinimg.com/originals/e6/66/83/e66683612ce467134ed4a3be9d0ce28e.png");
            background-color: #cccccc;
        }

    </style>

    <title>Star Wars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Star Wars</h1>
    <a href="login-signup.html"><button type="button" class="btn btn-dark float-right">Login</button></a>
    <center>
        <a href="index.html">
            <button type="button" class="btn btn-dark">Home</button>
        </a>
        <a href="movies.html">
            <button type="button" class="btn btn-danger">Movies</button>
        </a>
        <a href="characters.html">
            <button type="button" class="btn btn-dark">Characters</button>
        </a>
        <a href="forum.html">
            <button type="button" class="btn btn-dark">Forum</button>
        </a>
        <a href="quizzes.html">
            <button type="button" class="btn btn-dark">Quizzes</button>
        </a>
        <a href="news.html">
            <button type="button" class="btn btn-dark">News Feed</button>
        </a>
        <a href="about.html">
            <button type="button" class="btn btn-dark">About</button>
        </a>
    </center>
    <br>
    <br>
    <center>
    <div class="card-columns">
    <!-- create a for loop to iterate over the movies-->
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top" src="https://i.ytimg.com/vi/zseq5bLhaa8/movieposter.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 1</h5>
                <p class="card-text">{{ movie1info }}</p>
            </div>
        </div>
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51BGV8AJ4RL._SY445_.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 2</h5>
                <p class="card-text">{{ movie2info }}</p>
            </div>
        </div>
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top" src="https://i.ytimg.com/vi/yDpx4XCM_qQ/movieposter.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 3</h5>
                <p class="card-text">{{ movie3info }}</p>
            </div>
        </div>
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81aA7hEEykL.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 4</h5>
                <p class="card-text">{{ movie4info }}</p>
            </div>
        </div>
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top"
                 src="https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 5</h5>
                <p class="card-text">{{ movie5info }}</p>
            </div>
        </div>
        <div class="card text-white bg-secondary my-2" style="width: 18rem">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/51FFvV73KLL.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Episode 6</h5>
                <p class="card-text">{{ movie6info }}</p>
            </div>
        </div>
    </div>
</div>
</center>
    

</body>
</html>