<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h1 {
        color: white;
        text-align: center;
        background: #343840;
        border-radius: 10px;
      }
      h4 {
        color: #df4759;
      }
      body {
        background-image: url("https://i.pinimg.com/originals/e6/66/83/e66683612ce467134ed4a3be9d0ce28e.png");
        background-color: #cccccc;
      }
    </style>

    <title>Star Wars</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Star Wars</h1>
      <a href="login-signup.html"
        ><button type="button" class="btn btn-dark float-right">
          Login
        </button></a
      >
      <center>
        <a href="index.html"
          ><button type="button" class="btn btn-dark">Home</button></a
        >
        <a href="movies.html"
          ><button type="button" class="btn btn-dark">Movies</button></a
        >
         <a href="characters.html">
            <button type="button" class="btn btn-dark">Characters</button>
        </a>
        <a href="forum.html"
          ><button type="button" class="btn btn-dark">Forum</button></a
        >
        <a href="quizzes.html"
          ><button type="button" class="btn btn-dark">Quizzes</button></a
        >
        <a href="news.html"
          ><button type="button" class="btn btn-danger">News Feed</button></a
        >
        <a href="about.html"
          ><button type="button" class="btn btn-dark">About</button></a
        >
      </center>
    </div>
    <br />
    <br />
    <div  class = "container">
    <div class="row">
      <div class="col-8">
        <h2 style = "color:white">Tweets on Star Wars, Latest.</h2>
        {%for i in range(0, 10)%}
          
        <div class="media my-3">
          <img
            width = "50px"
            class="align-self-start mr-3 rounded-circle"
            src="https://cdn3.iconfinder.com/data/icons/star-wars-color/181/stormtrooper-512.png"
            alt="Generic placeholder image"
          />
          <div class="media-body text-white rounded">
            <h5 class="mt-0">{{userInfo[i]}}</h5>
            <p>
              {{tweetInfo[i]}}
            </p>
          </div>
        </div>
        {%endfor%}
        
      </div>

        <h2 style = "color:white">Trending on Instagram.</h2>
        <br>
        <rssapp-carousel id="kBeJK7qLp1gZ7QBF"></rssapp-carousel><script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>
      </div>
      <div class="col-4">
      <h4> Get your Star Wars gear! </h4>
        <div class="card my-3 text-white bg-dark" style="width: 18rem">
          <img class="card-img-top" src="https://i5.walmartimages.com/asr/d0caad2a-14f0-499d-9999-ddbc037c0e58_1.ff5d262d666780faaf466559b16d4cbd.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">The New Fear Apparel T-Shirt - Grey</h5>
            <a href="https://www.walmart.com/ip/Star-Wars-The-Force-Awakens-The-New-Fear-Apparel-T-Shirt-Grey/189655849" class="btn btn-danger">Buy</a>
          </div>
        </div>
        <div class="card my-3 text-white bg-dark" style="width: 18rem">
          <img class="card-img-top" src="https://i5.walmartimages.com/asr/83da9eee-3d55-46ca-a0a8-579062f0ced4_1.e35853bb5aca743ee1b22058047c0c65.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Kylo Ren En Garde Apparel T-Shirt - Black</h5>
            <a href="https://www.walmart.com/ip/Star-Wars-The-Force-Awakens-Kylo-Ren-En-Garde-Apparel-T-Shirt-Black/151226769" class="btn btn-danger">Buy</a>
          </div>
        </div>
        <div class="card my-3 text-white bg-dark" style="width: 18rem">
          <img class="card-img-top" src="https://i5.walmartimages.com/asr/8a34a4a0-4ea3-4b43-884b-eaedcaf5a89e_1.469778e35ea15d263f366af55d491e4f.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Galactic Rule Apparel T-Shirt - Black</h5>
            <a href="https://www.walmart.com/ip/Star-Wars-Force-Awakens-Galactic-Rule-Apparel-T-Shirt-Black/106276282" class="btn btn-danger">Buy</a>
          </div>
        </div>
      </div>
    </div>
    <div>
  </body>
</html>
