<!DOCTYPE html>
<html lang="en">
<head>
<style>
 h1 {
   color: white;
   text-align: center;
   background: #343840;
   border-radius: 10px;
 }
 body  {
  background-image: url("https://i.pinimg.com/originals/e6/66/83/e66683612ce467134ed4a3be9d0ce28e.png");
  background-color: #cccccc;
}

</style>

  <title>Star Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Star Wars</h1> 
        <a href="login-signup.html"><button type="button" class="btn btn-dark float-right">Login</button></a>
        <a href="profile.html"><button type="button" class="btn btn-danger float-right">Profile</button></a>
        <center>
          <a href="index.html"><button type="button" class="btn btn-dark">Home</button></a>
          <a href="movies.html"><button type="button" class="btn btn-dark">Movies</button></a>
          <a href="characters.html"><button type="button" class="btn btn-dark">Characters</button></a>
          <a href="forum.html"><button type="button" class="btn btn-dark">Forum</button></a>
          <a href="quizzes.html"><button type="button" class="btn btn-dark">Quizzes</button></a>
          <a href="news.html"><button type="button" class="btn btn-dark">News Feed</button></a>
          <a href="contentmanager.html"><button type="button" class="btn btn-dark">Videos</button></a>
          <a href="about.html"><button type="button" class="btn btn-dark">About</button></a>
        </center>
      </div>

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Profile</a>
                    </li>
                </ul>
                <form action="/profile.html/changeinfo", method="post">
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h4 class="text-white mb-1">Brown, Asher</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Bookmarked Content</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>https://www.youtube.com/watch?v=BsOmYpP4UDU</td>
                        </tr>
                        <tr>
                          <td>https://www.youtube.com/watch?v=0O0NGmNWgx0</td>
                        </tr>
                        <tr>
                          <td>https://www.youtube.com/watch?v=4y6eZpmHCe4</td>
                        </tr>
                      </tbody>
                    </table>




                    <hr class="my-4" />
                    <h3 class = "text-white">Change Profile Information</h3>
                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class = "text-white"for="firstname">Full Name</label>
                            <input type="text" id="name" name="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class = "text-white" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" />
                    </div>
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class = "text-white" for="inputPassword4">Old Password</label>
                                <input type="password" class="form-control" id="oldpassword" name="oldpassword"/>
                            </div>
                            <div class="form-group">
                                <label class = "text-white" for="inputPassword5">New Password</label>
                                <input type="password" class="form-control" id="newpassword" name="newpassword" />
                            </div>
                            <div class="form-group">
                                <label class = "text-white" for="inputPassword6">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" />
                            </div>
                        </div>
                    </div>
                    <h5 style="color:white;">{{ message }}</h5>
                    <button type="submit" class="btn btn-danger">Save Change</button>
                </form>
            </div>
        </div>
    </div>
    
    </div>
</body>
</html>